# Python environment
venv/
__pycache__/
*.pyc

# Django settings
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
*.env

# Coverage reports
.coverage
coverage.xml
*.coveragerc

# Static and media files
static/
media/

# Django migrations (si decides no subirlas)
backend/projects/migrations/

# Django settings and secrets
backend/.env
